<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=D, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="static/css/dashboard.css">
</head>

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            {% include 'sidenav.html' %}
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                {% include 'topnav.html' %}
                <div class="user-dashboard">
                    <h6>Hello, JS</h6>




                    <div class="row">

                                <div class="col-md-9">
                                    <div class="card">








                                        <div class="row">
                                                <div class="col-md-4" id="left">&nbsp&nbsp&nbsp
                                                    <img src="static\images\Calendar.png" width="20px" height="20px"> Upcoming Events
                                                </div>
                                                <div class="col-md-6">
                                                        &#10094march07-13-22&#10095
                                                </div>
                                                <div class="col-md-2" id="Right"text-align="right">
                                                    <img src="static\images\share.png"width="20px" height="20px"> &nbsp
                                                </div>
                                        </div>







                                        <table style="width: 100%;text-align:center;height:100%;">
                                            <tr>
                                                <th>MON 07</th>
                                                <th>TUE 08</th>
                                                <th>WED 09</th>
                                                <th>THU 10</th>
                                                <th>FRI 11</th>
                                                <th>SAT 12</th>
                                                <th>SUN 13</th>
                                            </tr>
                                            <tr>
                                                <td><img src="static\images\Anniversary.png" alt="" border=3 height=25
                                                        width=20>&nbsp &nbsp&nbsp&nbsp
                                                    <img src="static\images\pooja.png" alt="" border=3 height=30 width=25>
                                                </td><br />&nbsp &nbsp&nbsp&nbsp
                                                <td><img src="static\images\birthday.png" alt="" border=3 height=25
                                                        width=25>&nbsp &nbsp&nbsp&nbsp
                                                    <img src="static\images\prashanth.png" alt="" border=3 height=30 width=25>
                                                </td><br />&nbsp &nbsp&nbsp&nbsp
                                                <td>3</td>
                                                <td><img src="static\images\birthday.png" alt="" border=3 height=25 width=30>
                                                    <img src="static\images\prashanth.png" alt="" border=3 height=30 width=30>
                                                    <img src="static\images\pooja.png" alt="" border=3 height=30 width=30><br />
                                                    <img src="static\images\Anniversary.png" alt="" border=3 height=30 width=30>
                                                    <img src="static\images\pooja.png" alt="" border=3 height=30 width=30>
                                                </td><br />
                                                <td>5</td>
                                                <td>6</td>
                                                <td>7</td>
                                            </tr>
                                        </table>

                                        <div class="row">
                                            <div class="col-md-6 ml-auto" id="left"> &nbsp &nbsp&nbsp&nbsp
                                                <img src="static\images\Anniversary.png" width="20px" height="20px"> &nbsp
                                                Anniversary &nbsp&nbsp
                                                <img src="static\images\birthday.png" width="20px" height="20px"> &nbsp Brithday
                                            </div>
                                        </div>




                                    </div>

                                </div>

                                <!-- First Card END -->

                                <div class="col-md-3">
                                    <div class="card">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <img src="static\images\clock inout.png"width="22px"height="15px"id="Clock-inout"><b>Clock-in/out</b></h2>
                                                </div>
                                                <div class="col-md-5">
                                                    <p><b>13-31-08 mar</b></p>
                                                </div> 
                                            </div>

                                            <div class="form-group">
                                                <label for="Clock-in"></label>
                                                <input type="clock-in"class="form-control" id="clock" aria-describedby="emailHelp" placeholder="Clock-in      Clock-inout"><br/>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                                    <img src="static\images\Clock in.png"width="20px"height="16px">Clock-out 00h 00m 00s
                                                </button>
                                            </div>
                                        <div>
                                </div>

                            </div>
                        </div>
                    </div>

<!-- First Row End -->


<div class="row mt-4">

    <div class="card">
        <div class="card-header">
            <div class="row">
                    <div class="col-md-6">
                            <div class="circle" id=center>
                   </div>
                    <div class="col-md-5">
                        <p class="pendingapprovals">Pending Approvals</p>
                    </div>
                    <div class="col-md-4">
                            <div class="square" id=square>5

                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- headear close  -->





    </div>  
</div>








                                
 
                
                




 </div>
</div>
</div>
</div>
    
     


<!-- Model -->


                              
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

               
</body>
                


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $("#navigation").toggleClass("hidden-xs");
        });
    });
</script>

</html>