<!-- <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static\css\sidenav.css">
        <script src="https://kit.fontawesome.com/1c3ff7c99a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <body> -->
           <!-- <div class="sidenav">
            <a id="Surebot_logo" href="#"></a><img src="static\images\Surebot_logo.png" id="Surebot_img"></img></a>
           
        <a id="dashboard_img" href="#"></a><img src="static\images\Dashboard.png" id="dashboard_img">Dashboard</img></a>
        <a id="Employees_font" href="#"></a><img src="static\images\Employees.png" id="employees_img">Employees</img></a>
        <a id="Attendance_font" href="#"></a><img src="static\images\Attendance.png" id="Attendance_img">Attendance</img></a>
 
        <div class="container">
        <ul>
                <a id="TimeOff">Time Off</a>
                <a id="Payroll">Payroll</a>
                <a id="Performance">Performance</a>
                <a id="Recruitment">Recruitment</a>
        </ul>
        </div> -->
             
    <!-- </div> -->

    <div class="divScroll">

    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
        <div class="logo">
            <a hef=""><img src="static\images\Surebot_logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
            </a>
        </div>
        <div class="navi">
            <ul>
                <li > <a> <img src="static\images\Dashboard.png"> Dashboard</a></img></li>
                <li>  <a > <img src="static\images\Employees.png"> Employees</a></li>
                <li> <a > <img src="static\images\Attendance.png" > Attendance</a></li>
             
                <li>  <a >  <img src="static\images\Attendance.png" > TimeOff</a></li>
                <li>  <a >  <img src="static\images\Attendance.png" > Payroll</a></li>
                <li>  <a ><img src="static\images\Attendance.png" > Performance</a></li>
                <li>  <a ><img src="static\images\Attendance.png" > Recruitment</a></li>
                <li>  <a > <img src="static\images\Employees.png"> Employees</a></li>
                <li> <a > <img src="static\images\Attendance.png" > Attendance</a></li>
             
                <li>  <a >  <img src="static\images\Attendance.png" > TimeOff</a></li>
                <li>  <a >  <img src="static\images\Attendance.png" > Payroll</a></li>
                <li>  <a ><img src="static\images\Attendance.png" > Performance</a></li>
                <li>  <a ><img src="static\images\Attendance.png" > Recruitment</a></li>
              
               
              
              
        </ul>
            <!-- <ul>
                <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Workflow</span></a></li>
                <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
            </ul> -->
        </div>

    </div>
    </div></body>