<!-- <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/css/topnav.css">
        <script src="https://kit.fontawesome.com/1c3ff7c99a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <body>

          <div class="container-fluid display-table">
            <div class="row display-table-row">
                <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                    <div class="logo">
            <div class="navbar navbar-dark bg-primary">
               <a class="navbar-brand" href="#"><img src="static\images\Dashboard.png" id="dashboard_img">Dashboard</img></a>
                <ul>
                <img src="static\images\Search.png" id="search_img"></img>
                <img src="static\images\Settings.png"id="Setting_img"></img>
                <img src="static\images\pooja.png" id="logo_img"></img>
                <img src="static\images\Dropdown.png"id="dropdown_img">/<img>
                </ul>
            </div>
     
        </body>
    </head>
</html>       -->



<div class="row">
  <header>
      <div class="col-md-7">
          <nav class="navbar-default pull-left">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
          </nav>
          <div class="search hidden-xs hidden-sm">
              <!-- <input type="text" placeholder="Search" id="search"> -->
            <img src="static\images\Dashboard.png" class="dashboard_img"></img> <span id="dashboard_title">Dashboard</span>
          </div>
      </div>
      <div class="col-md-5">
          <!-- <div class="header-rightside">
           
            <ul class="list-inline header-top pull-right">
                <li><a href="#"><img src="static\images\Search.png" id=""></img></a> </li>
                <li><a href="#"> <img src="static\images\Settings.png"id=""></img></a> </li>

          
      
               <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="static\images\pooja.png" alt="user">
                          <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <div class="navbar-content">
                                  <span>Suman Kaur</span>
                                  <p class="text-muted small">
                                      xyz.kaur@mail.com
                                  </p>
                                  <div class="logout">
                                  </div>
                                  <a href="#" class="view btn-sm active">logout</a>
                              </div>
                          </li>
                      </ul>
                  </li>
              </ul> 
          </div> -->


          <div class="grid_5 pull-right" id="social_icons">
            <!-- <ul class="list-inline header-top pull-right"> -->
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="static\images\Search.png" alt="search"></img></a> 
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a><img src="static\images\Settings.png" alt="settings"></img></a> 

          
      
               <span class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="static\images\pooja.png" alt="user">
                          <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                           
                              <div class="navbar-content">
                                <img src="static\images\pooja.png" alt="user"style="margin-left:39%;"></img>
                                <h3 style="font-size:17px; margin-left:18%;"><b>Suman Kaur</b><br>xyz.kaur@mail.com</h3>
                                <ul>
                                    <li style="border: 1px solid whitesmoke;text-align:center;">set your self away </li>
                                    <li style="border: 1px solid whitesmoke;text-align: center;">change password</li>
                                    <li style="border: 1px solid whitesmoke;text-align: center;">logout</li>
                                </ul>          
                                
                                
                               
                             
                              </div>
                            </li>
                      </ul>
               </span>

          </div>
      </div>  
  
  </header>
</div>